# Ignore node_modules directory
node_modules/

# Ignore logs and temporary files
*.log
*.tmp
TODO.md

# Ignore editor-specific files
.vscode/

# Ignore npm lock file
package-lock.json

#Ignore environment variables
.env